# KintsugiLauncher/requirements_launcher.txt

# For the GUI
PySide6

# For making web requests to GitHub
requests

# For robust version string comparison
packaging

# For the async event loop with PySide6
qasync